<html lang="en">
<head>
    <title>CSE312 Group Project</title>
    <link rel="stylesheet" type="text/css" href="/public/style_index.css"/>
</head>

<div class="welcome">
    <h2>Otaku Forum: Review, Share, Connect</h2>
</div>
<div class="background-image">
    <div class='contents'>
        <div class="users">
            Register:
            <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:
                    <input id="reg-form-username" type="text" name="username_registration"/>
                </label>
                <br/>
                <label>Password:&nbsp;
                    <input id="reg-form-pass" type="password" name="password_registration">
                </label>
                <input type="submit" value="Post">
            </form>
        
            Login:
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:
                    <input id="login-form-username" type="text" name="username_login"/>
                </label>
                <br/>
                <label>Password:&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
</div>



<script src="/public/javascript.js"></script>
</body>
</html>