<html lang="en">
<head>
    <title>CSE312 Group Project</title>
    <link rel="stylesheet" type="text/css" href="/Public/style_index.css"/>
</head>
<script src="/Public/javascript.js" defer></script>
<body onload="addText();">

<div class="welcome">
    <h2 id="head"></h2>
</div>
<div class="background-image">
    <div class='contents'>
        <div class="users">
            Register:
            <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="reg-form-username" type="text" name="username_registration"/>
                </label>
                <br/>
                <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="reg-form-pass" type="password" name="password_registration">
                </label>
                <br/>
                <label>Confirm Password:&nbsp;&nbsp;
                    <input id="reg-form-pass-confirm" type="password" name="password_confirmation">
                </label>
                <input type="submit" value="Sign Up">
            </form>
        
            Login:
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="login-form-username" type="text" name="username_login"/>
                </label>
                <br/>
                <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <input type="submit" value="Post">
                <label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="reg-form-username" type="text" name="username_registration"/>
                </label>
                <br/>
                <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="reg-form-pass" type="password" name="password_registration">
                </label>
                <br/>
                <label>Confirm Password:&nbsp;&nbsp;
                    <input id="reg-form-pass-confirm" type="password" name="password_confirmation">
                </label>
                <input type="submit" value="Sign Up">
            </form>
            Login:
            <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                <label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="login-form-username" type="text" name="username_login"/>
                </label>
                <br/>
                <label>Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="login-form-pass" type="password" name="password_login">
                </label>
                <input type="submit" value="Sign In">
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <div class="{{category}}">{{msg}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %} 
        </div>
        <div class="errors">

        </div>   
    </div>
</div>



<script src="/Public/javascript.js"></script>
</body>
</html>