<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Post Page</title>
    <link rel="stylesheet" type="text/css" href="/Public/loggedin.css"/>
</head>
<body onload="onload();"> 
    <div class="background-image">
        <div class='post-contents'>
        <!-- Username Display -->   
            <div id="user-info">
                <p>Logged in as: <span id="username">Username</span></p>
            </div>
        <!-- Textbox to make a post with the username --> 
            <div id="post-form">
                <textarea id="user-post" placeholder="What anime/manga did you want to review?"></textarea>
                <button id="post-button" onclick="submitPost()">Post</button>
            </div><br/><br/><br/>
            <div class='feed-contents'>
                <div id="posted-content">
                    <h2>Posts:</h2>
                    <!-- Posts will be displayed here -->
                    <button id="like-button" onclick="like(1)">&#128077 12</button>
                    <span id="post_1"><b>Username- AnimeToBeReviewed</b>: "Attack on Titan" is a gripping anime that immediately draws viewers into its intense and action-packed world. Set in a dystopian society where humanity resides within enormous walled cities to protect themselves from giant humanoid creatures known as Titans, the story follows Eren Yeager and his friends as they join the military to fight against these monstrous beings.
                        The anime excels in its dark and gritty atmosphere, effectively conveying a sense of despair and urgency as humanity struggles for survival. The animation is top-notch, with fluid action sequences and detailed character designs that enhance the immersive experience.
                        What sets "Attack on Titan" apart is its intricate plot filled with twists and mysteries that keep viewers on the edge of their seats. The narrative explores themes of sacrifice, survival, and the consequences of war, offering thought-provoking commentary on human nature and society.
                        Overall, "Attack on Titan" is a must-watch for fans of action, drama, and suspense. Its compelling story, well-developed characters, and stunning animation make it a standout in the anime world, leaving a lasting impact on audiences long after the credits roll.
                        <br/>                
                    </span>
                </div>
            </div>
        </div>
    </div>

<script src="/Public/feed.js"></script>
</body>
</html>